.toolbarWrapper{
  position: fixed;
  display: flex;
  width: 100%;
  padding-top: 20px;
  right: 30px;
  flex-direction: row-reverse;
  z-index: 3;
}

.toolbar{
  width: fit-content;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 20px;
  z-index: 2;
  border-right: none;
  padding: 0px 20px;
  background-color: rgba(0, 0, 0, 0.578);
  border-radius: 10px;
}

.toolbar a{
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.toolbar a:hover{
  color: greenyellow !important;
}
