/* You can add global styles to this file, and also import other style files */*
*{
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper{
  background: black;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}
