<div class="wrap">
  <section>
    <div class="box">
      <div class="container">
        <form [formGroup]="form" id="userDataForm">
          <div class="header">
            <h1>Datos de Usuario</h1>
            <hr>
            <p>Introduce tu Fecha de Nacimiento y Telefono para guardarlos</p>
          </div>

          <mat-form-field class="group">
            <input
              matInput
              type="text"
              name="userId"
              placeholder="userId"
              formControlName="userId"
              required
              readonly
            >
            <mat-error>
              <span class="form_error">
                <strong>*userId requerido</strong>
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="group">
            <input
              matInput
              type="text"
              name="name"
              placeholder="Nombre"
              formControlName="name"
              required
              readonly
            >
            <mat-error>
              <span class="form_error">
                <strong>*Tu nombre es requerido</strong>
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="group">
            <input
              matInput
              type="text"
              name="lastName"
              placeholder="Apellido Paterno"
              formControlName="lastName"
              required
              readonly
            >
            <mat-error>
              <span class="form_error">
                <strong>*Tu apellido paterno es requerido</strong>
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="group">
            <input
              matInput
              type="text"
              name="secondSurName"
              placeholder="Apellido Materno"
              formControlName="secondSurName"
              required
              readonly
            >
            <mat-error>
              <span class="form_error">
                <strong>*Tu apellido materno es requerido</strong>
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="group">
            <input
              matInput
              type="email"
              name="email"
              placeholder="E-mail"
              formControlName="email"
              [email]="true"
              required
              readonly
            >
            <mat-error>
              <span class="form_error">
                <strong>*Por favor introduce un E-mail valido</strong>
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="datesField">
            <mat-label>Fecha de Nacimiento*</mat-label>
            <input readonly matInput  [matDatepicker]="picker" formControlName="birthDate">
            <mat-datepicker #picker></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-error>
              <span class="form_error">
                <strong>*Por favor introduce tu Fecha de Nacimiento</strong>
              </span>
            </mat-error>
          </mat-form-field>

          <button class="submit" [disabled]="form.invalid || form.disabled" mat-raised-button color="accent" type="submit" (click)="onSubmitData()">Enviar</button>
        </form>
      </div>
    </div>

    <div class="signature-pad">
      <div class="signature-pad--body">
        <p class="indicator">Firma Digital</p>
        <canvas id="canvasId" #canvasRef></canvas>
      </div>
      <button mat-raised-button color="accent" (click)="clean()">Limpiar</button>
      <button mat-raised-button color="accent" (click)="imageDownload()">Confirmar</button>
      <img *ngIf="imageToDownload" src="{{imageToDownload}}" alt="">
      <a *ngIf="imageToDownload" href="{{imageToDownload}}" download (click)="onSubmitImage()">
        <button mat-raised-button color="accent" >Descargar y guardar</button>
      </a>
      <div style="background: white !important;" class="imageSaved">
        <img *ngIf="signature!='no-image'" [src]="signature" alt="" width="250px">
      </div>
      <p class="indicator">
        {{signatureMessage}}
      </p>
    </div>
  </section>
</div>

